.main-page {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}
.left {
    flex: 1;
    background-color: #736ba4;
    
    .bg-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
.right {
    width: 460px;
    background-color: #3d6b8d;
    
    padding: 30px;
    // tengah2
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    .title {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
}